
  @media (max-width: 1340px) {
    .profile-left-menu ul li a {
      margin-left: 0px !important;
  }
  }
  @media(max-width:1200px){
    .mail-section {
      gap: 17px !important;
  }
  .mail-box {
    width: 248px !important;
}
.mail-img img {
  width: 71% !important;
}
.mail-head {
  width: 198px !important;
  margin-top: 20px !important;
}
  }
  @media (max-width: 1168px) {
    .header-logo {
      width: 30% !important;
    }
    .header-nav-menu {
      width: 40% !important;
    }
    .all-settings {
      width: 30% !important;
    }
    .header-section {
      width: 100% !important;
  }
  }
  @media(max-width:1133px){
  .dashboard-menu {
    width: 75% !important;
  }
  .profile-menu {
    width: 25% !important;
  }
  }
  @media(max-width:1109px){
    .search-here {
      width: 65% !important;
  }
  .get-code {
    width: 35% !important;
}
  }
  @media(max-width:992px){
    .react-icon a i {
      font-size: 25px !important;
  }
  }
  @media(max-width:913px){
    .form-search {
      width: 157px !important;
  }
  .get-code ul li {
    font-size: 15px !important;
}
  }
  @media(max-width:912px){
    .form-search {
      width: 157px !important;
  }
  .get-code ul li {
    font-size: 13px !important;
}
.search-here ul li a {
  margin-right: 0px !important;
  font-size: 12px !important;
}
  .dashboard-menu {
    width: 70% !important;
  }
  .profile-menu {
    width: 30% !important;
  }
  }

  @media(max-width:891px){
    .get-code {
      width: 45% !important;
  }
  .search-here {
    width: 55% !important;
}
@media(max-width:853px){
  .search-code-header {
    display: block !important;
}
.search-here {
  width: 100% !important;
}
.get-code {
  width: 100% !important;
}
}
@media(max-width:805px){

}
  }
  @media(max-width:771px) {
    .all-settings ul li {
      margin-left: 24px !important;
  }
  }
  @media(max-width:768px){

  }
  @media(max-width:720px){
  .profile-menu {
    width: 33% !important;
  }
  .dashboard-menu {
    width: 67% !important;
  }
  .table-code-section {
    padding: 21px 29px !important;
 }
  }
  @media(max-width:705px) {
  .profile-menu {
    width: 38% !important;
  }
  .dashboard-menu {
    width: 62% !important;
  }
  .header-nav-menu {
    width: 30% !important;
  }
  .all-settings {
    width: 40% !important;
  }
  .table-code-section {
    padding: 21px 4px !important;
}

  }
  @media(max-width:618px){
  .previous ul li a {
    font-size: 10px !important;
}
.profile-name h5 {
  font-size: 13px !important;
  margin-top: 6px !important;
}
.active p {
  font-size: 13px !important;
}
.profile-img img {
  max-width: 44px !important;
}
.search-here.d-flex {
  display: block !important;
}
.form-search {
  width: 100% !important;
}
.form-search.d-flex {
  justify-content: space-between !important;
}
.search-here ul {
  margin-top: 1rem !important;
}
  }
  @media(max-width:601px){
    .profile-left-menu ul li a {
      font-size: 13px !important;
  }
  }
  @media(max-width:566px){

  }
  @media(max-width:531px){
  .profile-menu {
    width: 25% !important;
  }
  .dashboard-menu {
  width: 65% !important;
  }
  .profile-img img {
    max-width: 37px !important;
  }
  .profile-name h5 {
    font-size: 11px !important;
}
  .profile-img.ms-4 {
    margin-left: 0rem !important;
  }
  .active.d-flex p {
    font-size: 10px !important;
  }
  .header-nav-menu {
    width: 20% !important;
  }
  .all-settings {
    width: 60% !important;
  }
  .header-logo {
    display: none !important;
  }
  .footer-text p {
    display: none !important;
  
  }
  .footer.d-flex.justify-content-between.text-light {
    justify-content: center !important;
  }
  .footer-social-menu ul li {
    margin-right: 19px !important;
  }
  .footer-social-menu {
    margin-right: 0px !important;
  }
  }
  @media(max-width:468px){
    .mail-box {
      width: 100% !important;
  }
  .mail-img {
    width: 100% !important;
    text-align: center;
}
.mail-text a {
  padding: 3px 3px !important;
  font-size: 12px !important;
}
.mail-text {
  width: 100% !important;
}
.mail-text h5 {
  font-size: 1rem !important;
}
  }
  @media(max-width:458px){
    .profile-left-menu ul li a img {
      width: 18px !important;
      margin-right: 5px !important;
  }
  .profile-left-menu ul li a {
    font-size: 10px !important;
  }
  }
  @media(max-width:445px){
.previous.mt-5.d-flex.justify-content-end {
  margin-top: 1rem !important;
}
.previous ul li a {
  font-size: 7px !important;
  padding: 2px 4px !important;
}
  }
@media(max-width:326px){
  .table-section.p-4 {
    padding: 0rem !important;
}
}