.verify-section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
}
.verify-form {
    width: 360px;
    border-radius: 5px;
    height: 660px;
    box-shadow: 1px 1px 12px 2px rgb(35 46 42 / 44%);
}
.logo {
    padding: 1rem 1rem 0rem 1rem;
}
.logo img{
    width: 80px;
}
.bitcoin span img{
    width: 40px;
}
.time {
    padding: 0.5rem 1rem 0.5rem 1rem;
    background: #4ac031;
    font-size: 14px;
    color: white;
    font-weight: 500;
}
.bitcoin {
    padding: 0.2rem 1rem;
    border-bottom: 1px solid #dddd;
}
.bitcoin p {
    line-height: 40px;
    font-size: 14px;
    font-weight: 500;
}
.bitcoin span{
    font-size: 15px;
}
.mail-btc {
    padding: 0.2rem 1rem 0.2rem 1rem;
    border-bottom: 1px solid #dddd;
}
.mail p {
    line-height: 55px;
    font-size: 15px;
    font-weight: 500;
}
.bitcoin-amount {
    text-align: end;
}
.bitcoin-amount h6 {
    font-size: 14px;
}
.bitcoin-amount p {
    font-size: 12px;
}
.scan {
    text-align: center;
}
.active {
    background: #ececec;
    border-bottom: 3px solid #28cf41;
}
.clickme {
    text-decoration: none;
    font-size: 20px;
    width: 50%;
    padding: 0.6rem;
    color: #939393;
}
.clickme:hover {
    color: #5c5c5c;
    background: #c2c2c2;
}
.scan-img {
    background: #ececec;
    text-align: center;
    
}
.scan-img img {
    width: 240px;
    padding: 10px 0px;
    height: 272px;
    text-align: center;
}
.button {
    text-align: center;
    padding: 8px 0px  17px 0px;
    border-radius: 0px 0px 5px 5px;
    background: #ececec;
}
.button a {
    text-decoration: none;
    display: block;
    width: 250px;
    padding: 8px;
    font-size: 16px;
    border-radius: 6px;
    margin: auto;
    text-align: center;
    color: white;
    background: #28cf41;
}
.button p {
    padding-top: 18px;
    font-size: 12px;
}
.language {
    text-align: center;
    margin-top: 27px;
}